@font-face {
    font-family: 'explicit';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/explicit.eot'); /* IE9 Compat Modes */
    src: local('explicit'), local('explicit'),
        url('fonts/explicit.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/explicit.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/explicit.woff') format('woff'), /* Modern Browsers */
        url('fonts/explicit.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/explicit.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* UNIVERSAL */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
    background: #f4f3ef;
    background-color: #f4f3ef;
}

/* ROOT FONT STYLES */

* {
    font-family: 'explicit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333447;
    line-height: 1.5;
}

/**
 * Color Section
 */

.antique-white {
    color: antiquewhite;
}

.white {
    color: #fff;
}

.orange {
    color: #ed7a53;
}

/**
 * Background Section
 */

.bg-cyan {
    background: #22a6b3;
}

.bg-red {
    background: #ff5252;
}

.bg-blue {
    background: #25CCF7;
}

.bg-orange {
    background : #ed7a53;
}

.bg-yellow {
    background: #f1c40f;
}

.bg-purple {
    background : #686de0;
}

.bg-green {
    background : #6ab04c;
}

/**
 * Photos & Contacts Section
 */

#portfolio-body {

    margin-top: 30px;
}

.about-me {
    color: #444;
    padding: 0px 20px;
}

.about-me p {
    text-align: justify;
    margin-bottom: 0;
}

.about-me h3 {
    text-align: center;
    line-height: 1;
    font-weight: 500;
    margin-bottom: -5px;
    border-bottom: 2px solid #ed7a53;
    font-size: 1.1rem;
    padding-bottom: 10px;
    text-shadow: 1px 1px 0px #555, 1px 0px 0px rgba(0, 0, 0, 0.2);
}


.profile-picture {
    width: 70%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 15%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid #444;
}

.contact-information, .experience-information {
    margin-top: 20px;
}

.contact-information .contact {
    text-align: left;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: .9rem;
}

.contact-information i {;
                        margin-right: 1px;
}

.contact-information label {
    font-weight: bold;
    color : #ed7a53;
}

.contact-information span {
    font-weight: bold;
    color : #444;
}

.banner {
    height: 40px;
    width: 98%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-shadow: 3px 4px 0px #555, 4px 0px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 25px;
    line-height: 2;
    position: relative;
}

.experience-information h3, .experience-information p, .knowledge-information h3,
.freelance-information h3, .freelance-information p, .freelance-information h3,
.education-information h3, .education-information p, .education-information h3  {
    text-align: left;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: -5px;
}

.experience-information h3, 
.knowledge-information h3,
.freelance-information h3,
.education-information h3{
    text-shadow: 1px 1px 0px #555, 1px 0px 0px rgba(0, 0, 0, 0.2);
    font-size: .9rem;

}

.experience-information h3 {

    display:inline-block;
    border-bottom: 2px solid #22a6b3;
    padding-bottom: 2px;

}

.experience-information {
    padding-bottom: 20px;
}

.experience-information p, .freelance-information p, .education-information p {
    font-size: .9rem;
    margin-bottom: 20px;
}


.knowledge-information {
    margin-top: 20px;
}

.knowledge-information .banner{

    width: 90%;
}

.knowledge-information h3 {
    border: none !important;
    margin-bottom: 10px;
    margin-left: 20px;
}

.knowledge-information .banner-details {
    font-size: .9rem;
    line-height: 1.8;
    margin-left: -5px;
}

.knowledge-information .skill-percentage {
    height: 20px;
    border-radius: 6px;
    float: right;
    margin-top: 4px;
}

.knowledge-information .give-me-space {
    padding: 0 35px;
}

.give-me-space {
    padding: 0 10px;
}

.justify-me {
    text-align: justify !important;
}
